<h1>Standars and Nomenclature Page</h1>

<ul>
  <li><%= link_to 'People page', people_path %></li>
  <li><%= link_to 'New Group', new_group_path %></li>
</ul>

<table id="groups">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.description %></td>
      </tr>
  <% end %>

</table>