// Place all the styles related to the enrolments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#enrol_unpaid {
  padding-bottom: 10px;
  padding-top: 15px;
}

.paid_enrol{
  border: 1px inset #ecf0f1;
}

.titles{
  font-family: Myriad Pro,Arial,sans-serif;
  border: 0px solid #000;
  font-weight: bold;
  color: #484848;
  font-size: 25px;
  &.small{
    font-size: 18px;
    color: #8c8c8c;
    font-weight: normal;
    margin-top: -2%;
    line-height: 0;
  }
}

#champion {
  border: 4px;
  min-width: 150px;
  max-width: 350px;
  min-height: 200px;
  max-height: 300px;
}

#paid_enrolments {
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: #cecece;
}
