<footer class="footer">
  <small>
    The <%= link_to "Reference for Dogs Exhibitions", root_path %>
    by Raúl Alcañiz
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>